<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button 
        class="btn btn-outline-secondary dropdown-toggle" 
        type="button" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false">
        {{ documentType }}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item"  (click)="onDocumentTypeChange('CPF')">CPF</a>
        <a class="dropdown-item"  (click)="onDocumentTypeChange('CNPJ')">CNPJ</a>
      </div>
    </div>
    <input
      [id]="id"
      type="text"
      [name]="id"
      [placeholder]="placeholder"
      class="form-control"
      [(ngModel)]="changeDocument"
      (ngModelChange)="onDocumentChange($event)"
      [mask]="mask"
      [specialCharacters]="specialCharacters"
      [dropSpecialCharacters]="false"
    />
  </div>
  