<div class="input-group mb-3">
  <div class="input-group-prepend">
    <select 
      class="form-control custom-select" 
      [(ngModel)]="documentType" 
      (change)="onDocumentTypeChange($event)">
      <option value="CPF">CPF</option>
      <option value="CNPJ">CNPJ</option>
    </select>
  </div>

  <input
    [id]="id"
    type="text"
    [name]="id"
    [placeholder]="placeholder"
    class="form-control"
    [(ngModel)]="changeDocument"
    (ngModelChange)="onDocumentChange($event)"
    [mask]="mask"
    [specialCharacters]="specialCharacters"
    [dropSpecialCharacters]="false"
  />
</div>
