<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <h2>Perfil</h2>
      <div class="form-group">
        <label for="email">{{ label.email | translate }} </label>
        <input type="email" id="email" name="email" class="my-custom-form-control" [(ngModel)]="user.email" required
          disabled />
      </div>
      <div class="form-group">
        <label for="nickname">{{ label.apelido | translate }}</label>
        <input type="text" id="nickname" name="nickname" class="my-custom-form-control" [(ngModel)]="user.nickname"
          required disabled />
      </div>
      <div class="form-group">
        <label for="name">{{ label.nome | translate }}</label>
        <input type="text" id="name" name="name" class="my-custom-form-control" [(ngModel)]="user.name" required />
      </div>
      <div class="form-group mt-3">
        <label for="name">{{ label.documento | translate }}</label>
        <app-document id="document" [changeDocument]="user.document"
          (documentChange)="user.document = $event"></app-document>
      </div>
      <div class="form-group mt-3">
        <app-phone [id]="'phone'" [changePhone]="user.phone" (phoneChange)="user.phone = $event" required></app-phone>
      </div>
      <button type="submit" (click)="onSubmit()" class="my-custom-ok-button mt-4">{{ label.alterar_dados | translate }}</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>